<div class="chat-container">
    <div class="chat-content">
        {{#each @messages as |chat|}}
            {{#if @isChat}}
                <div class="chat-message {{if (eq @name chat.name) "self" "other"}}"><strong>{{chat.name}}:</strong> {{chat.message}}</div>
            {{else}}
                <div class="chat-message">{{chat}}</div>
            {{/if}}
        {{/each}}
    </div>
</div>