<div class="challenge-state">
    {{#if (or this.isSource (not this.canChallenge))}}
        <p>{{@challengeState.defaultMessage}}</p>
    {{else}}
        <p>{{@challengeState.decisionMessage}}</p>
        <BsButton {{on 'click' @challenge}}>Challenge</BsButton>
        <BsButton {{on 'click' @pass}}>Pass</BsButton>
    {{/if}}
</div>