{{page-title "Game"}}
<div>
    <Chat @sendMessage={{this.sendMessage}} @messages={{this.chatLog}}/>
    <GameHistory @messages={{this.gameHistory}} />
    <div>
        {{#if this.started}}
            <p>Game has started!</p>
        {{/if}}
        {{#if this.over}}
            <p>Game is OVER!</p>
        {{/if}}
            <button type="button" {{on 'click' this.startGame}}>Start Game</button>
    </div>
    <div>
        <h2>Game Data</h2>
        <p>Name: {{this.model.gameState.gameName}}</p>
        <div class="players">
            {{#each this.otherPlayers as |player|}}
                <Player @playerData={{player}} @canSelectPlayer={{this.canSelectPlayer}} @cards={{player.cards}} @selectPlayerId={{this.selectPlayerId}} />            
            {{/each}}
        </div>
    </div>
    <div>
        {{#if this.promptBlock}}
            {{!-- <h2>Block State</h2>
            {{#each this.blockState.pendingPlayerIds as |pendingPlayerId|}}
                <p>Pending player: {{pendingPlayerId}}</p>
            {{/each}}
            <p>Action: {{this.blockState.actionId}}</p>
            <p>Source: {{this.blockState.sourceId}}</p>
            <p>Target: {{this.blockState.targetId}}</p>
            {{#each this.blockState.blockCards as |blockCard|}}
                <button type="button" {{on 'click' (fn this.block blockCard.id)}}>Block as {{blockCard.name}}</button>
            {{/each}}
            <button type="button" {{on 'click' this.passBlock}}>Allow</button> --}}
            <BlockState
                @blockState={{this.blockState}} 
                @blockAction={{this.block}} 
                @playerId={{this.player.id}}
                {{!-- @player={{this.player}} --}}
                @pass={{this.passBlock}}
            />
        {{/if}}
        {{#if this.promptChallenge}}
            <ChallengeState
                @challengeState={{this.challengeState}}
                @playerId={{this.player.id}}
                @challenge={{this.challenge}}
                @pass={{this.passChallenge}}
                
            />
        {{/if}}
        {{#if this.promptRevealCard}}
            <RevealCardState
                @revealCardState={{this.revealCardState}}
                @cards={{this.cards}}
                @revealCard={{this.revealCard}}
                @playerId={{this.player.id}}
            />
            {{!-- <h2>Reveal Card State (if you have been challenged)</h2>
            {{#each this.cards as |card|}}
                {{#unless card.revealed}}
                    <button type="button" {{on 'click' (fn this.revealCard card.id)}}>Reveal {{card.name}}</button>
                {{/unless}}
            {{/each}} --}}
        {{/if}}
        {{#if this.promptLoseInfluenceState}}
            {{!-- <h2>Lose Influence State</h2>
            {{#each this.cards as |card|}}
                {{#unless card.revealed}}
                    <button type="button" {{on 'click' (fn this.loseInfluence card.id)}}>Card: {{card.name}}</button>
                {{/unless}}
            {{/each}} --}}
            <LoseInfluenceState
                @loseInfluenceState={{this.loseInfluenceState}}
                @cards={{this.cards}}
                @playerId={{this.player.id}}
                @loseInfluence={{this.loseInfluence}}
            />
        {{/if}}
        {{#if this.promptExchangeState}}
            <ExchangeState
                @exchangeState={{this.exchangeState}}
                @playerId={{this.player.id}}
                @selectCard={{this.selectCardToExchange}}
                @confirmExchange={{this.confirmExchange}}
                @totalExchangeCards={{this.totalExchangeCards}}
                @selectedCardIds={{this.selectedCardIds}}
            />
            {{!-- <h2>Exchange State</h2>
            <div>Exchange state active!</div>
            <button type="button" {{on 'click' this.handleConfirmExchange}}>Confirm Exchange</button>
            <div>New cards:</div>
            {{#each this.exchangeCards as |card|}}
                <button type="button" {{on 'click' (fn this.selectCard card.id)}}>Ex card: {{card.name}}</button>
            {{/each}}
            <div>Your current cards:</div>
            {{#each this.cards as |card|}}
                {{#unless card.revealed}}
                    <button type="button" {{on 'click' (fn this.selectCard card.id)}}>Cur card: {{card.name}}</button>
                {{/unless}}
            {{/each}} --}}
        {{/if}}
    </div>
    <div>
        <h2>You</h2>
        <div class="client-data">
            <Player 
                @playerData={{this.player}} 
                @cards={{this.cards}} 
                @self={{true}} 
                @loadId={{this.loadId}} 
                @highlight={{false}}
            />
        </div>
    </div>
    <div>

        {{#if (and (eq this.model.playerId this.currentTurnPlayerId) (not this.inActiveState))}}
            {{!-- <div class="action-buttons">
                {{#each this.actions as |action|}}
                    <div class="action-button">
                        <BsButton @type="secondary" @outline={{false}} {{on 'click' (fn this.initiateAction action)}}>{{action.name}}</BsButton>
                    </div>
                {{/each}}
            </div> --}}
            <ActionsSelector @actions={{this.actions}} @initiateAction={{this.initiateAction}} @coins={{this.player.coins}}/>
        {{/if}}
        <div>
            <br>
            <br>
            End of file
        </div>
    </div>
</div>