{{page-title "Games"}}
<div>
    <h4>Lobby:</h4>
        {{#each this.lobby as |player|}}
            <p>{{player.name}}</p>
        {{/each}}
    <div class="button-group2">
        <BsButtonGroup
            @value={{this.selectedValue}}
            @size="lg"
            @type="radio"
            @onChange={{fn (mut this.selectedValue)}}
            as |bg|
            >
            <bg.button @type="primary" @value={{0}}>Join Game</bg.button>
            <bg.button @type="primary" @value={{1}}>Create Game</bg.button>
        </BsButtonGroup>
    </div>
    {{#if this.showGames}}
        <div class="">
        <h2>Games</h2>
        <div>
            {{#each this.games as |game|}}
                {{#unless game.isStarted}}
                    <EnterGame @game={{game}} />
                {{/unless}}
            {{/each}}
        </div>
        </div>
    {{else}}
        <div class="">
            <CreateGame/>
        </div>
    {{/if}}
</div>