<div class="reveal-card-state">
    {{#if this.isRevealingPlayer}}
        <p>{{@revealCardState.decisionMessage}}</p>
        {{#each @cards as |card|}}
            {{#unless card.revealed}}
                <BsButton {{on 'click' (fn @revealCard card.id)}}>Reveal {{card.name}}</BsButton>
            {{/unless}}
        {{/each}}
    {{else}}
        <p>{{@revealCardState.defaultMessage}}</p>
    {{/if}}
</div>