<button type="button" class="player {{if @playerData.isTurn "is-turn"}} {{if @highlight "highlight"}}" {{on 'click' this.getId}}>
    <span class="name">{{@playerData.name}}</span>
    <span class="player-cards">
        {{#each @cards as |card|}}
            {{!-- <p class="cards">Card: {{card.name}} {{if (and card.revealed @self) '(revealed)'}}</p> --}}
            <Card @card={{card}} @self={{@self}}/>
        {{/each}}
    </span>
    <span class="coins">{{@playerData.coins}} coins</span>
    {{!-- <p>{{@playerData.isTurn}}</p> --}}
</button>