<button type="button" 
    class="player-container {{if @playerData.isTurn "is-turn"}} {{if this.selectable "select"}} {{if @playerData.lost "lost"}}" 
    {{on 'click' this.selectPlayer}}
>
    <span class="player-name">
        <FaIcon @icon="user" />
        {{@playerData.name}}
        </span>
    <span class="player-cards">
        {{#each @cards as |card|}}
            <Card @card={{card}} @self={{@self}}/>
        {{/each}}
    </span>
    <span class="player-coins">{{@playerData.coins}} <FaIcon @icon="coins" /></span>
</button>